<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bulma/css/bulma.min.css') }}">
</head>
<body>
<div style="min-height: 100vh" class="is-flex is-justify-content-center is-align-items-center">
    <div class="card">
        <div class="card-content">
            <h2 class="title is-2 mb-6">Enter Information For Log In to Complaint System</h2>
            <form action="{{ url_for("login") }}" method="post">
                <div class="field">
                    <label for="email" class="label">Email Address</label>
                    <div class="control">
                        <input type="text" id="email" name="email" class="input">
                    </div>
                </div>

                <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control">
                        <input type="password" id="password" name="password" class="input">
                    </div>
                </div>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="notification mb-4 {{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}


                <div class="is-flex is-justify-content-center is-gap-2">
                    <div class="field has-text-centered">
                        <button type="submit" class="button is-primary">Log In</button>
                    </div>

                    <div class="field has-text-centered">
                        <a class="button is-danger" href="{{ url_for('signup') }}">Sign Up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>